.dashboard {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgba(39, 4, 37, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.dashboard-content {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgba(39, 4, 37, 0.8);
    padding: 20px;
    padding-bottom: 770px;
    border-radius: 10px;
}